<?xml version="1.0"?>
<robot name="plate">
  <link name="plate_base_link">
    <contact>
      <lateral_friction value="1.0"/>
      <spinning_friction value=".001"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.5"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="plate.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <!--material name="blockmat">
        <color rgba="0.1 0.7 0.1 1"/>
      </material!-->
      <material name="platemat">
        <texture filename="plate.png"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="plate.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>
